<h1>Welcome</h1>
<p>Welcome to IdeaStore 1.0.0</p>
<p>Write and store your game changing new ideas. Choose to make your thoughts public or keep them completely private.
  You can always edit your ideas or get rid of them entirely if you change your mind.
  Comment on other user's ideas and become a positive influence on their thought process!</p>
{{#if user}}
{{else}}
<a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}