<h1>Add an Idea</h1>
<div class="row">
  <form action="/ideas" method="post" class="col s12">
    <div class="row">
      <input type="text" name="title">
      <label for="title">Title</label>
    </div>
    <div class="row">
      <select name="status">
        <option value="public" selected>Public</option>
        <option value="private">Private</option>
        <option value="unpublished">Unpublished</option>
      </select>
      <label for="title">Status</label>
    </div>
    <div class="row">
      <p>
        <label for="allowCommentsBox">
          <!-- Add class .filled-in for a different effect -->
          <input type="checkbox" id="allowCommentsBox" name="allowComments">
          <span>Allow Comments</span>
        </label>
      </p>
    </div>

    <div class="row">
      <div class="input-field">
        <h5>What's your latest idea?</h5>
        <textarea name="body"></textarea>
      </div>
    </div>
    <input type="submit" value="Save" class="btn">
  </form>
</div>